{% extends 'template.html' %} 

{% block title %}
Компанії
{% endblock %}

{% block body %}
<div class="col-lg-3 mx-auto p-3 py-md-5">
<form class="form-signin" action="{{url_for('stocks.check')}}" method="POST">
    <h1 class="h2 mb-3 font-weight-normal">Iнформацiя про компанію.</h1><br><br>
    <h3 class="h2 mb-3 font-weight-normal">Введіть корректний індекс компанії(напр. AMD)</h3><br><br>
    <input type="text" id="ticker" name="ticker" class="form-control" placeholder="Назва компанії" required autofocus><br>
    <button class="btn btn-lg btn-primary btn-block" value="submit">Продовжити</button>
  </form>
</div>
{% endblock %}