{% extends 'template.html' %} 

{% block title %}
Крипта
{% endblock %}

{% block body %}
<div class="col-lg-3 mx-auto p-3 py-md-5">
<form class="form-signin" action="{{url_for('crypto.check_crypto')}}" method="POST">
    <h1 class="h2 mb-3 font-weight-normal">Конвертація долара в крипту</h1><br><br>
    <h3 class="h2 mb-3 font-weight-normal">Введiть корректну та повну назву криптовалюти (напр. Bitcoin)</h3><br><br>
    <input type="text" id="crypto" name="crypto" class="form-control" placeholder="Назва крипти" required autofocus><br>
    <button class="btn btn-lg btn-primary btn-block" value="submit">Продовжити</button>
  </form>
</div>
{% endblock %}